In [1]:
# Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
import json
import pprint
from Config import nasa_key
import datetime

# Import API key
from Config import nasa_key

In [2]:
data = pd.read_csv('Data.csv')
data.head()

,Unnamed: 0,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.813260,1900-12-27,30.436237
1,1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.422020,1909-08-21,2.814433
2,2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.637890,1910-01-04,6.185730
3,3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.118720,1910-02-25,51.926728
4,4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.274467,1900-03-08,1.234215

In [3]:
data.drop(columns=data.columns[0], axis=1, inplace=True)
data.head()

,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.813260,1900-12-27,30.436237
1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.422020,1909-08-21,2.814433
2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.637890,1910-01-04,6.185730
3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.118720,1910-02-25,51.926728
4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.274467,1900-03-08,1.234215

In [4]:
data.velocity = round(data.velocity,2)
data.diameter = round(data.diameter,2)
data.head()

,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.81,1900-12-27,30.44
1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.42,1909-08-21,2.81
2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.64,1910-01-04,6.19
3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.12,1910-02-25,51.93
4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.27,1900-03-08,1.23

In [5]:
data['distance'] = data['distance'].map(lambda x:('{:.2f}'.format(float(x))))

In [6]:
data.head(30)

,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,2000433,433 Eros (A898 PA),False,29274494.77,Earth,12478.81,1900-12-27,30.44
1,2000719,719 Albert (A911 TB),False,158840482.64,Juptr,7708.42,1909-08-21,2.81
2,2000887,887 Alinda (A918 AA),False,29796347.90,Earth,15221.64,1910-01-04,6.19
3,2001036,1036 Ganymed (A924 UB),False,181845412.67,Juptr,14101.12,1910-02-25,51.93
4,2001221,1221 Amor (1932 EA1),False,26496951.95,Earth,29682.27,1900-03-08,1.23
5,2001566,1566 Icarus (1949 MA),True,7853232.21,Earth,60414.37,1902-06-11,1.78
6,2001580,1580 Betulia (1950 KA),False,45141928.86,Earth,64169.88,1911-05-07,4.26
7,2001620,1620 Geographos (1951 RA),True,3151128.50,Earth,26312.24,1901-08-23,3.26
8,2001627,1627 Ivar (1929 SH),False,22917856.20,Earth,18753.15,1901-07-11,9.99
9,2001685,1685 Toro (1948 OA),False,18615768.55,Earth,38047.60,1900-08-02,5.05
10,2001862,1862 Apollo (1932 HA),True,24822600.67,Earth,27540.44,1905-10-06,2.24
11,2001863,1863 Antinous (1948 EA),False,8313139.98,Mars,40442.06,1907-10-11,2.99
12,2001864,1864 Daedalus (1971 FA),False,27574722.14,Earth,50344.13,1902-11-17,3.90
13,2001865,1865 Cerberus (1971 UA),False,31035592.75,Earth,34286.95,1900-05-20,1.62
14,2001866,1866 Sisyphus (1972 XA),False,41935732.47,Earth,75639.87,1912-12-09,11.41
15,2001915,1915 Quetzalcoatl (1953 EA),False,2354859.65,Earth,33824.18,1906-03-06,0.91
16,2001916,1916 Boreas (1953 RA),False,36239276.77,Earth,15563.00,1905-08-25,3.78
17,2001917,1917 Cuyo (1968 AA),False,41810309.24,Earth,41153.49,1907-10-29,4.87
18,2001943,1943 Anteros (1973 EC),False,38347267.41,Earth,29659.51,1908-04-11,2.66
19,2001980,1980 Tezcatlipoca (1950 LA),False,44526653.88,Earth,28857.36,1921-07-08,6.21
20,2001981,1981 Midas (1973 EA),True,34859817.55,Earth,48798.54,1902-04-04,3.25
21,2002059,2059 Baboquivari (1963 UA),False,33950277.13,Earth,16619.19,1907-10-24,2.35
22,2002061,2061 Anza (1960 UA),False,20665730.98,Earth,27864.92,1926-08-18,1.69
23,2002062,2062 Aten (1976 AA),False,11703739.96,Earth,25207.23,1900-01-19,1.40
24,2002063,2063 Bacchus (1977 HB),False,43384971.05,Earth,21322.21,1900-06-26,1.32
25,2002100,2100 Ra-Shalom (1978 RA),False,27275712.37,Earth,41920.44,1902-08-08,2.10
26,2002101,2101 Adonis (1936 CA),True,17485366.15,Earth,43239.33,1902-07-16,0.67
27,2002102,2102 Tantalus (1975 YA),True,30581590.76,Earth,72306.13,1910-01-05,2.36
28,2002135,2135 Aristaeus (1977 HA),True,44353493.00,Earth,61375.58,1958-10-17,0.91
29,2002201,2201 Oljato (1947 XC),True,24928516.29,Earth,33000.50,1900-01-22,3.13

In [7]:
renamed_df = data.rename(columns={"name":"Asteroid Name", "hazardous":"Potentially Hazardous", 
                                  "distance":"Miss Distance (miles)", "orbiting body": "Orbiting Body", 
                                  "velocity": "Close Approach Velocity (mph)", "date": "Date", 
                                  "diameter": "Max Diameter (miles)"})
renamed_df.head(30)

,id,Asteroid Name,Potentially Hazardous,Miss Distance (miles),Orbiting Body,Close Approach Velocity (mph),Date,Max Diameter (miles)
0,2000433,433 Eros (A898 PA),False,29274494.77,Earth,12478.81,1900-12-27,30.44
1,2000719,719 Albert (A911 TB),False,158840482.64,Juptr,7708.42,1909-08-21,2.81
2,2000887,887 Alinda (A918 AA),False,29796347.90,Earth,15221.64,1910-01-04,6.19
3,2001036,1036 Ganymed (A924 UB),False,181845412.67,Juptr,14101.12,1910-02-25,51.93
4,2001221,1221 Amor (1932 EA1),False,26496951.95,Earth,29682.27,1900-03-08,1.23
5,2001566,1566 Icarus (1949 MA),True,7853232.21,Earth,60414.37,1902-06-11,1.78
6,2001580,1580 Betulia (1950 KA),False,45141928.86,Earth,64169.88,1911-05-07,4.26
7,2001620,1620 Geographos (1951 RA),True,3151128.50,Earth,26312.24,1901-08-23,3.26
8,2001627,1627 Ivar (1929 SH),False,22917856.20,Earth,18753.15,1901-07-11,9.99
9,2001685,1685 Toro (1948 OA),False,18615768.55,Earth,38047.60,1900-08-02,5.05
10,2001862,1862 Apollo (1932 HA),True,24822600.67,Earth,27540.44,1905-10-06,2.24
11,2001863,1863 Antinous (1948 EA),False,8313139.98,Mars,40442.06,1907-10-11,2.99
12,2001864,1864 Daedalus (1971 FA),False,27574722.14,Earth,50344.13,1902-11-17,3.90
13,2001865,1865 Cerberus (1971 UA),False,31035592.75,Earth,34286.95,1900-05-20,1.62
14,2001866,1866 Sisyphus (1972 XA),False,41935732.47,Earth,75639.87,1912-12-09,11.41
15,2001915,1915 Quetzalcoatl (1953 EA),False,2354859.65,Earth,33824.18,1906-03-06,0.91
16,2001916,1916 Boreas (1953 RA),False,36239276.77,Earth,15563.00,1905-08-25,3.78
17,2001917,1917 Cuyo (1968 AA),False,41810309.24,Earth,41153.49,1907-10-29,4.87
18,2001943,1943 Anteros (1973 EC),False,38347267.41,Earth,29659.51,1908-04-11,2.66
19,2001980,1980 Tezcatlipoca (1950 LA),False,44526653.88,Earth,28857.36,1921-07-08,6.21
20,2001981,1981 Midas (1973 EA),True,34859817.55,Earth,48798.54,1902-04-04,3.25
21,2002059,2059 Baboquivari (1963 UA),False,33950277.13,Earth,16619.19,1907-10-24,2.35
22,2002061,2061 Anza (1960 UA),False,20665730.98,Earth,27864.92,1926-08-18,1.69
23,2002062,2062 Aten (1976 AA),False,11703739.96,Earth,25207.23,1900-01-19,1.40
24,2002063,2063 Bacchus (1977 HB),False,43384971.05,Earth,21322.21,1900-06-26,1.32
25,2002100,2100 Ra-Shalom (1978 RA),False,27275712.37,Earth,41920.44,1902-08-08,2.10
26,2002101,2101 Adonis (1936 CA),True,17485366.15,Earth,43239.33,1902-07-16,0.67
27,2002102,2102 Tantalus (1975 YA),True,30581590.76,Earth,72306.13,1910-01-05,2.36
28,2002135,2135 Aristaeus (1977 HA),True,44353493.00,Earth,61375.58,1958-10-17,0.91
29,2002201,2201 Oljato (1947 XC),True,24928516.29,Earth,33000.50,1900-01-22,3.13

In [8]:
renamed_df.to_csv('Clean_Data.csv')