In [1]:
# Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
import json
import pprint
from Config import nasa_key
import datetime

# Import API key
from Config import nasa_key

In [2]:
data = pd.read_csv('Data.csv')
data.head()

,Unnamed: 0,id,Asteroid Name,Potentially Hazardous,Miss Distance (miles),Orbiting Body,Close Approach Velocity (mph),Date,Max Diameter (meters)
0,0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.813260,1900-12-27,48982.390780
1,1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.422020,1909-08-21,4529.392731
2,2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.637890,1910-01-04,9954.970531
3,3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.118720,1910-02-25,83567.994282
4,4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.274467,1900-03-08,1986.277755

In [3]:
data.drop(columns=data.columns[0], axis=1, inplace=True)
data.head()

,id,Asteroid Name,Potentially Hazardous,Miss Distance (miles),Orbiting Body,Close Approach Velocity (mph),Date,Max Diameter (meters)
0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.813260,1900-12-27,48982.390780
1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.422020,1909-08-21,4529.392731
2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.637890,1910-01-04,9954.970531
3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.118720,1910-02-25,83567.994282
4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.274467,1900-03-08,1986.277755

In [4]:
data['Close Approach Velocity (mph)'] = data['Close Approach Velocity (mph)'].apply(lambda x: round(x, 2))
data['Max Diameter (meters)'] = data['Max Diameter (meters)'].apply(lambda x: round(x, 2))

data.head()

,id,Asteroid Name,Potentially Hazardous,Miss Distance (miles),Orbiting Body,Close Approach Velocity (mph),Date,Max Diameter (meters)
0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.81,1900-12-27,48982.39
1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.42,1909-08-21,4529.39
2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.64,1910-01-04,9954.97
3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.12,1910-02-25,83567.99
4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.27,1900-03-08,1986.28

In [5]:
data['Miss Distance (miles)'] = data['Miss Distance (miles)'].map(lambda x:('{:.2f}'.format(float(x))))

In [6]:
data.head(30)

,id,Asteroid Name,Potentially Hazardous,Miss Distance (miles),Orbiting Body,Close Approach Velocity (mph),Date,Max Diameter (meters)
0,2000433,433 Eros (A898 PA),False,29274494.77,Earth,12478.81,1900-12-27,48982.39
1,2000719,719 Albert (A911 TB),False,158840482.64,Juptr,7708.42,1909-08-21,4529.39
2,2000887,887 Alinda (A918 AA),False,29796347.90,Earth,15221.64,1910-01-04,9954.97
3,2001036,1036 Ganymed (A924 UB),False,181845412.67,Juptr,14101.12,1910-02-25,83567.99
4,2001221,1221 Amor (1932 EA1),False,26496951.95,Earth,29682.27,1900-03-08,1986.28
5,2001566,1566 Icarus (1949 MA),True,7853232.21,Earth,60414.37,1902-06-11,2857.85
6,2001580,1580 Betulia (1950 KA),False,45141928.86,Earth,64169.88,1911-05-07,6855.51
7,2001620,1620 Geographos (1951 RA),True,3151128.50,Earth,26312.24,1901-08-23,5248.56
8,2001627,1627 Ivar (1929 SH),False,22917859.04,Earth,18753.15,1901-07-11,16070.89
9,2001685,1685 Toro (1948 OA),False,18615768.54,Earth,38047.60,1900-08-02,8129.05
10,2001862,1862 Apollo (1932 HA),True,24822600.67,Earth,27540.44,1905-10-06,3597.82
11,2001863,1863 Antinous (1948 EA),False,8313139.98,Mars,40442.06,1907-10-11,4808.84
12,2001864,1864 Daedalus (1971 FA),False,27574722.14,Earth,50344.13,1902-11-17,6281.16
13,2001865,1865 Cerberus (1971 UA),False,31035592.75,Earth,34286.95,1900-05-20,2606.39
14,2001866,1866 Sisyphus (1972 XA),False,41935732.47,Earth,75639.87,1912-12-09,18367.07
15,2001915,1915 Quetzalcoatl (1953 EA),False,2354859.65,Earth,33824.18,1906-03-06,1458.95
16,2001916,1916 Boreas (1953 RA),False,36239276.77,Earth,15563.00,1905-08-25,6081.91
17,2001917,1917 Cuyo (1968 AA),False,41810309.24,Earth,41153.49,1907-10-29,7835.02
18,2001943,1943 Anteros (1973 EC),False,38347267.41,Earth,29659.51,1908-04-11,4285.88
19,2001980,1980 Tezcatlipoca (1950 LA),False,44526653.88,Earth,28857.36,1921-07-08,10000.92
20,2001981,1981 Midas (1973 EA),True,34859817.55,Earth,48798.54,1902-04-04,5224.44
21,2002059,2059 Baboquivari (1963 UA),False,33950277.13,Earth,16619.19,1907-10-24,3784.77
22,2002061,2061 Anza (1960 UA),False,20665730.98,Earth,27864.92,1926-08-18,2716.69
23,2002062,2062 Aten (1976 AA),False,11703739.96,Earth,25207.23,1900-01-19,2249.26
24,2002063,2063 Bacchus (1977 HB),False,43384971.05,Earth,21322.21,1900-06-26,2128.33
25,2002100,2100 Ra-Shalom (1978 RA),False,27275712.37,Earth,41920.44,1902-08-08,3373.18
26,2002101,2101 Adonis (1936 CA),True,17485366.15,Earth,43239.33,1902-07-16,1071.62
27,2002102,2102 Tantalus (1975 YA),True,30581590.76,Earth,72306.13,1910-01-05,3802.24
28,2002135,2135 Aristaeus (1977 HA),True,44353493.00,Earth,61375.58,1958-10-17,1458.95
29,2002201,2201 Oljato (1947 XC),True,24928516.29,Earth,33000.50,1900-01-22,5035.47

In [7]:
#I wasnt sure if we wanted a column with a row that just had the year in it
# data['Year'] = data['Date'].dt.year

In [8]:
#Converted to datetime format
data['Date'] = pd.to_datetime(data['Date'])

In [11]:
asteroid_data_2015 = data[data['Date'].dt.year == 2015]

asteroid_data_2015

,id,Asteroid Name,Potentially Hazardous,Miss Distance (miles),Orbiting Body,Close Approach Velocity (mph),Date,Max Diameter (meters)
2103,2458745,458745 (2011 QY37),False,36718588.30,Earth,7113.44,2015-11-04,1213.50
11773,3701885,(2014 XQ7),False,30186058.16,Earth,60739.35,2015-01-16,547.07
11783,3702676,(2014 XD32),False,18369497.94,Earth,30775.94,2015-01-03,311.92
11833,3703076,(2014 YQ34),False,7396476.31,Earth,55782.36,2015-01-03,94.20
11845,3703245,(2014 YB42),False,3957440.04,Earth,21607.67,2015-01-04,49.44
...,...,...,...,...,...,...,...,...
33448,54402648,(2023 VH2),False,22699220.62,Earth,33043.95,2015-10-28,48.09
33760,54414582,(2023 XT3),False,27253702.01,Earth,33193.83,2015-04-13,16.87
33916,54417543,(2023 YD),False,21133907.69,Earth,36210.32,2015-05-08,45.17
33942,54417774,(2023 YA1),False,46294673.08,Earth,45630.92,2015-10-03,13.72
34082,54420791,(2024 AW4),False,6693690.64,Mars,20002.26,2015-08-12,439.38

In [14]:
earth = data['Orbiting Body'] == 'Earth'
earth_data = data[earth]
earth_data.head(20)

,id,Asteroid Name,Potentially Hazardous,Miss Distance (miles),Orbiting Body,Close Approach Velocity (mph),Date,Max Diameter (meters)
0,2000433,433 Eros (A898 PA),False,29274494.77,Earth,12478.81,1900-12-27,48982.39
2,2000887,887 Alinda (A918 AA),False,29796347.90,Earth,15221.64,1910-01-04,9954.97
4,2001221,1221 Amor (1932 EA1),False,26496951.95,Earth,29682.27,1900-03-08,1986.28
5,2001566,1566 Icarus (1949 MA),True,7853232.21,Earth,60414.37,1902-06-11,2857.85
6,2001580,1580 Betulia (1950 KA),False,45141928.86,Earth,64169.88,1911-05-07,6855.51
7,2001620,1620 Geographos (1951 RA),True,3151128.50,Earth,26312.24,1901-08-23,5248.56
8,2001627,1627 Ivar (1929 SH),False,22917859.04,Earth,18753.15,1901-07-11,16070.89
9,2001685,1685 Toro (1948 OA),False,18615768.54,Earth,38047.60,1900-08-02,8129.05
10,2001862,1862 Apollo (1932 HA),True,24822600.67,Earth,27540.44,1905-10-06,3597.82
12,2001864,1864 Daedalus (1971 FA),False,27574722.14,Earth,50344.13,1902-11-17,6281.16
13,2001865,1865 Cerberus (1971 UA),False,31035592.75,Earth,34286.95,1900-05-20,2606.39
14,2001866,1866 Sisyphus (1972 XA),False,41935732.47,Earth,75639.87,1912-12-09,18367.07
15,2001915,1915 Quetzalcoatl (1953 EA),False,2354859.65,Earth,33824.18,1906-03-06,1458.95
16,2001916,1916 Boreas (1953 RA),False,36239276.77,Earth,15563.00,1905-08-25,6081.91
17,2001917,1917 Cuyo (1968 AA),False,41810309.24,Earth,41153.49,1907-10-29,7835.02
18,2001943,1943 Anteros (1973 EC),False,38347267.41,Earth,29659.51,1908-04-11,4285.88
19,2001980,1980 Tezcatlipoca (1950 LA),False,44526653.88,Earth,28857.36,1921-07-08,10000.92
20,2001981,1981 Midas (1973 EA),True,34859817.55,Earth,48798.54,1902-04-04,5224.44
21,2002059,2059 Baboquivari (1963 UA),False,33950277.13,Earth,16619.19,1907-10-24,3784.77
22,2002061,2061 Anza (1960 UA),False,20665730.98,Earth,27864.92,1926-08-18,2716.69

In [ ]:
# grouped_df = data.groupby('Potentially Hazardous')
# summary_stats = grouped_df['Miss Distance (miles)'].agg(['mean', 'std'])
# mean_distance = summary_stats.loc[True]['mean']
# std_distance = summary_stats.loc[True]['std']

# print("Mean Miss Distance (Potentially Hazardous):", mean_distance)
# print("Standard Deviation (Potentially Hazardous):", std_distance)
# asteroid_data.dtypes