In [1]:
# Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
import json
import pprint
from Config import nasa_key
import datetime

# Import API key
from Config import nasa_key

In [2]:
data = pd.read_csv('Data.csv')
data.head()

,Unnamed: 0,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.813260,1900-12-27,30.436237
1,1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.422020,1909-08-21,2.814433
2,2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.637890,1910-01-04,6.185730
3,3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.118720,1910-02-25,51.926728
4,4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.274467,1900-03-08,1.234215

In [3]:
data.drop(columns=data.columns[0], axis=1, inplace=True)
data.head()

,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.813260,1900-12-27,30.436237
1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.422020,1909-08-21,2.814433
2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.637890,1910-01-04,6.185730
3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.118720,1910-02-25,51.926728
4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.274467,1900-03-08,1.234215

In [4]:
data.velocity = round(data.velocity,2)
data.diameter = round(data.diameter,2)
data.head()

,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.81,1900-12-27,30.44
1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.42,1909-08-21,2.81
2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.64,1910-01-04,6.19
3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.12,1910-02-25,51.93
4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.27,1900-03-08,1.23

In [5]:
def scientific_to_rounded(number_str):
    # Convert the scientific notation string to a float
    number = float(number_str)
    # Round up the number
    rounded_number = round(number)

In [6]:
dist = data.distance.tolist()
round_dist = []
for i in dist:
    round_dist.append(scientific_to_rounded(i))
data["round_distance"] = round_dist

In [7]:
data.head(30)

,id,name,hazardous,distance,orbiting body,velocity,date,diameter,round_distance
0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.81,1900-12-27,30.44,None
1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.42,1909-08-21,2.81,None
2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.64,1910-01-04,6.19,None
3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.12,1910-02-25,51.93,None
4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.27,1900-03-08,1.23,None
5,2001566,1566 Icarus (1949 MA),True,7.853232e+06,Earth,60414.37,1902-06-11,1.78,None
6,2001580,1580 Betulia (1950 KA),False,4.514193e+07,Earth,64169.88,1911-05-07,4.26,None
7,2001620,1620 Geographos (1951 RA),True,3.151128e+06,Earth,26312.24,1901-08-23,3.26,None
8,2001627,1627 Ivar (1929 SH),False,2.291786e+07,Earth,18753.15,1901-07-11,9.99,None
9,2001685,1685 Toro (1948 OA),False,1.861577e+07,Earth,38047.60,1900-08-02,5.05,None
10,2001862,1862 Apollo (1932 HA),True,2.482260e+07,Earth,27540.44,1905-10-06,2.24,None
11,2001863,1863 Antinous (1948 EA),False,8.313140e+06,Mars,40442.06,1907-10-11,2.99,None
12,2001864,1864 Daedalus (1971 FA),False,2.757472e+07,Earth,50344.13,1902-11-17,3.90,None
13,2001865,1865 Cerberus (1971 UA),False,3.103559e+07,Earth,34286.95,1900-05-20,1.62,None
14,2001866,1866 Sisyphus (1972 XA),False,4.193573e+07,Earth,75639.87,1912-12-09,11.41,None
15,2001915,1915 Quetzalcoatl (1953 EA),False,2.354860e+06,Earth,33824.18,1906-03-06,0.91,None
16,2001916,1916 Boreas (1953 RA),False,3.623928e+07,Earth,15563.00,1905-08-25,3.78,None
17,2001917,1917 Cuyo (1968 AA),False,4.181031e+07,Earth,41153.49,1907-10-29,4.87,None
18,2001943,1943 Anteros (1973 EC),False,3.834727e+07,Earth,29659.51,1908-04-11,2.66,None
19,2001980,1980 Tezcatlipoca (1950 LA),False,4.452665e+07,Earth,28857.36,1921-07-08,6.21,None
20,2001981,1981 Midas (1973 EA),True,3.485982e+07,Earth,48798.54,1902-04-04,3.25,None
21,2002059,2059 Baboquivari (1963 UA),False,3.395028e+07,Earth,16619.19,1907-10-24,2.35,None
22,2002061,2061 Anza (1960 UA),False,2.066573e+07,Earth,27864.92,1926-08-18,1.69,None
23,2002062,2062 Aten (1976 AA),False,1.170374e+07,Earth,25207.23,1900-01-19,1.40,None
24,2002063,2063 Bacchus (1977 HB),False,4.338497e+07,Earth,21322.21,1900-06-26,1.32,None
25,2002100,2100 Ra-Shalom (1978 RA),False,2.727571e+07,Earth,41920.44,1902-08-08,2.10,None
26,2002101,2101 Adonis (1936 CA),True,1.748537e+07,Earth,43239.33,1902-07-16,0.67,None
27,2002102,2102 Tantalus (1975 YA),True,3.058159e+07,Earth,72306.13,1910-01-05,2.36,None
28,2002135,2135 Aristaeus (1977 HA),True,4.435349e+07,Earth,61375.58,1958-10-17,0.91,None
29,2002201,2201 Oljato (1947 XC),True,2.492852e+07,Earth,33000.50,1900-01-22,3.13,None