In [1]:
# Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
import json
import pprint
from Config import nasa_key
import datetime

# Import API key
from Config import nasa_key

In [2]:
api_endpoint = f"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key={nasa_key}"
data_entries = []

# Create a while loop to handle pagination
page_num = 0
while True:
    try:
        # Made a request to the API with the specific page number
        resp = requests.get(api_endpoint, params={"page": page_num})

        if resp.status_code == 200:
            api_data = resp.json()

            # Check if there are no more pages and break the loop
            if len(api_data["near_earth_objects"]) == 0:
                break

            for entry in api_data["near_earth_objects"]:
                try:
                    resp_id = entry["id"]
                    resp_name_limited = entry["name"]
                    resp_is_potentially_hazardous_asteroid = entry["is_potentially_hazardous_asteroid"]
                    resp_miss_distance = entry["close_approach_data"][0]["miss_distance"]["miles"]
                    resp_orbiting_body = entry["close_approach_data"][0]["orbiting_body"]
                    resp_relative_velocity = entry["close_approach_data"][0]["relative_velocity"]["miles_per_hour"]
                    resp_close_approach_date = entry["close_approach_data"][0]["close_approach_date"]
                    resp_estimated_diameter = entry["estimated_diameter"]["miles"]["estimated_diameter_max"]

                    # Append the data to the list
                    data_entries.append({
                        "id": resp_id,
                        "name": resp_name_limited,
                        "hazardous": resp_is_potentially_hazardous_asteroid,
                        "distance": resp_miss_distance,
                        "orbiting body": resp_orbiting_body,
                        "velocity": resp_relative_velocity,
                        "date": resp_close_approach_date,
                        "diameter": resp_estimated_diameter,
                    })
                except Exception:
                    print(f"Unable to parse entry with id: {resp_id}")

            page_num += 1
        else:
            print(f"Request failed with status code: {resp.status_code}")
            break
    except Exception as e:
        print(f"An error occurred: {e}")
        break

# Create a DataFrame from the collected data
df = pd.DataFrame(data_entries)

Unable to parse entry with id: 2162038
Unable to parse entry with id: 2189058
Unable to parse entry with id: 2276274
Unable to parse entry with id: 2322913
Unable to parse entry with id: 2435730
Unable to parse entry with id: 2451297
Unable to parse entry with id: 2452307
Unable to parse entry with id: 2452421
Unable to parse entry with id: 2453100
Unable to parse entry with id: 2454266
Unable to parse entry with id: 2470909
Unable to parse entry with id: 2483506
Unable to parse entry with id: 2483566
Unable to parse entry with id: 2506425
Unable to parse entry with id: 2532058
Unable to parse entry with id: 3184476
Unable to parse entry with id: 3249532
Unable to parse entry with id: 3278321
Unable to parse entry with id: 3283245
Unable to parse entry with id: 3306399
Unable to parse entry with id: 3312036
Unable to parse entry with id: 3321569
Unable to parse entry with id: 3315645
Unable to parse entry with id: 3335226
Unable to parse entry with id: 3335305
Unable to parse entry with id: 3347507
Unable to parse entry with id: 3363039
Unable to parse entry with id: 3366074
Unable to parse entry with id: 3392082
Unable to parse entry with id: 3394073
Unable to parse entry with id: 3394774
Unable to parse entry with id: 3395963
Unable to parse entry with id: 3398022
Unable to parse entry with id: 3405613
Unable to parse entry with id: 3405338
Unable to parse entry with id: 3413111
Unable to parse entry with id: 3433757
Unable to parse entry with id: 3437806
Unable to parse entry with id: 3439480
Unable to parse entry with id: 3439812
Unable to parse entry with id: 3441851
Unable to parse entry with id: 3444558
Unable to parse entry with id: 3445626
Unable to parse entry with id: 3449085
Unable to parse entry with id: 3454738
Unable to parse entry with id: 3459308
Unable to parse entry with id: 3467264
Unable to parse entry with id: 3485862
Unable to parse entry with id: 3592397
Unable to parse entry with id: 3529628
Unable to parse entry with id: 54049909
Unable to parse entry with id: 3508139
Unable to parse entry with id: 3508164
Unable to parse entry with id: 3511355
Unable to parse entry with id: 3511893
Unable to parse entry with id: 3512040
Unable to parse entry with id: 3593352
Unable to parse entry with id: 3593534
Unable to parse entry with id: 3593636
Unable to parse entry with id: 3520663
Unable to parse entry with id: 3520763
Unable to parse entry with id: 3594572
Unable to parse entry with id: 3536587
Unable to parse entry with id: 3536588
Unable to parse entry with id: 3545633
Unable to parse entry with id: 3549639
Unable to parse entry with id: 3550230
Unable to parse entry with id: 3551519
Unable to parse entry with id: 3551479
Unable to parse entry with id: 3551480
Unable to parse entry with id: 3552572
Unable to parse entry with id: 3552532
Unable to parse entry with id: 3552535
Unable to parse entry with id: 3552659
Unable to parse entry with id: 3552683
Unable to parse entry with id: 3552691
Unable to parse entry with id: 3553700
Unable to parse entry with id: 3554015
Unable to parse entry with id: 3555170
Unable to parse entry with id: 3555759
Unable to parse entry with id: 3557783
Unable to parse entry with id: 3556966
Unable to parse entry with id: 3557198
Unable to parse entry with id: 3557331
Unable to parse entry with id: 3557201
Unable to parse entry with id: 3557544
Unable to parse entry with id: 3557545
Unable to parse entry with id: 3557546
Unable to parse entry with id: 3566531
Unable to parse entry with id: 3566694
Unable to parse entry with id: 3567519
Unable to parse entry with id: 3567971
Unable to parse entry with id: 3568057
Unable to parse entry with id: 3573151
Unable to parse entry with id: 3574901
Unable to parse entry with id: 3578973
Unable to parse entry with id: 3578979
Unable to parse entry with id: 3582139
Unable to parse entry with id: 3584135
Unable to parse entry with id: 3588388
Unable to parse entry with id: 3595920
Unable to parse entry with id: 3596841
Unable to parse entry with id: 3596846
Unable to parse entry with id: 3597506
Unable to parse entry with id: 3616694
Unable to parse entry with id: 3619324
Unable to parse entry with id: 3621811
Unable to parse entry with id: 3634226
Unable to parse entry with id: 3646078
Unable to parse entry with id: 3645194
Unable to parse entry with id: 3645187
Unable to parse entry with id: 3647280
Unable to parse entry with id: 3654646
Unable to parse entry with id: 3669358
Unable to parse entry with id: 3698585
Unable to parse entry with id: 3698480
Unable to parse entry with id: 3698482
Unable to parse entry with id: 3698496
Unable to parse entry with id: 3698493
Unable to parse entry with id: 3698504
Unable to parse entry with id: 3698506
Unable to parse entry with id: 3698510
Unable to parse entry with id: 3698508
Unable to parse entry with id: 3698512
Unable to parse entry with id: 3698517
Unable to parse entry with id: 3698521
Unable to parse entry with id: 3698531
Unable to parse entry with id: 3698539
Unable to parse entry with id: 3698542
Unable to parse entry with id: 3698545
Unable to parse entry with id: 3698555
Unable to parse entry with id: 3698564
Unable to parse entry with id: 3698563
Unable to parse entry with id: 3670394
Unable to parse entry with id: 3698565
Unable to parse entry with id: 3698571
Unable to parse entry with id: 3698570
Unable to parse entry with id: 3698572
Unable to parse entry with id: 3675173
Unable to parse entry with id: 3675097
Unable to parse entry with id: 3674886
Unable to parse entry with id: 3681036
Unable to parse entry with id: 3684635
Unable to parse entry with id: 3687789
Unable to parse entry with id: 3694767
Unable to parse entry with id: 3703000
Unable to parse entry with id: 3704051
Unable to parse entry with id: 3715406
Unable to parse entry with id: 3715412
Unable to parse entry with id: 3764850
Unable to parse entry with id: 3712419
Unable to parse entry with id: 3713993
Unable to parse entry with id: 3717071
Unable to parse entry with id: 3720849
Unable to parse entry with id: 3720859
Unable to parse entry with id: 3720858
Unable to parse entry with id: 3720865
Unable to parse entry with id: 3720864
Unable to parse entry with id: 3720872
Unable to parse entry with id: 3720873
Unable to parse entry with id: 3720871
Unable to parse entry with id: 3720870
Unable to parse entry with id: 3720874
Unable to parse entry with id: 3719471
Unable to parse entry with id: 3720881
Unable to parse entry with id: 3720886
Unable to parse entry with id: 3720885
Unable to parse entry with id: 3720891
Unable to parse entry with id: 3720889
Unable to parse entry with id: 3720893
Unable to parse entry with id: 3720896
Unable to parse entry with id: 3720897
Unable to parse entry with id: 3720900
Unable to parse entry with id: 3721994
Unable to parse entry with id: 3724217
Unable to parse entry with id: 3724218
Unable to parse entry with id: 3724223
Unable to parse entry with id: 3723950
Unable to parse entry with id: 3726331
Unable to parse entry with id: 3727276
Unable to parse entry with id: 3728368
Unable to parse entry with id: 3733141
Unable to parse entry with id: 3735465
Unable to parse entry with id: 3736234
Unable to parse entry with id: 3736680
Unable to parse entry with id: 3738970
Unable to parse entry with id: 3739079
Unable to parse entry with id: 3740847
Unable to parse entry with id: 3740851
Unable to parse entry with id: 3740852
Unable to parse entry with id: 3740835
Unable to parse entry with id: 3743896
Unable to parse entry with id: 3747982
Unable to parse entry with id: 3748508
Unable to parse entry with id: 3752702
Unable to parse entry with id: 3753021
Unable to parse entry with id: 3753579
Unable to parse entry with id: 3753587
Unable to parse entry with id: 3753574
Unable to parse entry with id: 3757570
Unable to parse entry with id: 3759678
Unable to parse entry with id: 3757293
Unable to parse entry with id: 3757575
Unable to parse entry with id: 3757577
Unable to parse entry with id: 3759679
Unable to parse entry with id: 3759319
Unable to parse entry with id: 3759688
Unable to parse entry with id: 3759689
Unable to parse entry with id: 3759692
Unable to parse entry with id: 3763097
Unable to parse entry with id: 3763329

Unable to parse entry with id: 3764253
Unable to parse entry with id: 3765024
Unable to parse entry with id: 3766078
Unable to parse entry with id: 3766081
Unable to parse entry with id: 3766193
Unable to parse entry with id: 3766670
Unable to parse entry with id: 3766654
Unable to parse entry with id: 3766655
Unable to parse entry with id: 3766658
Unable to parse entry with id: 3766660
Unable to parse entry with id: 3769431
Unable to parse entry with id: 3771593
Unable to parse entry with id: 3771594
Unable to parse entry with id: 3775118
Unable to parse entry with id: 3775098
Unable to parse entry with id: 3776291
Unable to parse entry with id: 3781353
Unable to parse entry with id: 3781829
Unable to parse entry with id: 3781832
Unable to parse entry with id: 3781833
Unable to parse entry with id: 3781885
Unable to parse entry with id: 3785709
Unable to parse entry with id: 3785713
Unable to parse entry with id: 3785714
Unable to parse entry with id: 3785718
Unable to parse entry with id: 3789437
Unable to parse entry with id: 3789439
Unable to parse entry with id: 3790123
Unable to parse entry with id: 3790125
Unable to parse entry with id: 3791315
Unable to parse entry with id: 3796297
Unable to parse entry with id: 3792421
Unable to parse entry with id: 3797705
Unable to parse entry with id: 3797739
Unable to parse entry with id: 3797892
Unable to parse entry with id: 3799308
Unable to parse entry with id: 3799770
Unable to parse entry with id: 3799771
Unable to parse entry with id: 3799774
Unable to parse entry with id: 3799775
Unable to parse entry with id: 3802031
Unable to parse entry with id: 3802556
Unable to parse entry with id: 3825519
Unable to parse entry with id: 3825523
Unable to parse entry with id: 3825813
Unable to parse entry with id: 3826651
Unable to parse entry with id: 3826767
Unable to parse entry with id: 3836070
Unable to parse entry with id: 3836082
Unable to parse entry with id: 3836170
Unable to parse entry with id: 3837517
Unable to parse entry with id: 3836959
Unable to parse entry with id: 3837521
Unable to parse entry with id: 3837582
Unable to parse entry with id: 3840885
Unable to parse entry with id: 3843281
Unable to parse entry with id: 3843323
Unable to parse entry with id: 3843459
Unable to parse entry with id: 3843381
Unable to parse entry with id: 3843794
Unable to parse entry with id: 3878583
Unable to parse entry with id: 3878613
Unable to parse entry with id: 3884108
Unable to parse entry with id: 3892195
Unable to parse entry with id: 3989180
Unable to parse entry with id: 3989300
Unable to parse entry with id: 3989331
Unable to parse entry with id: 54016685
Unable to parse entry with id: 54049786
Unable to parse entry with id: 54051102
Unable to parse entry with id: 54051403
Unable to parse entry with id: 54076356
Unable to parse entry with id: 54087417
Unable to parse entry with id: 54075533
Unable to parse entry with id: 54087780
Unable to parse entry with id: 54103187
Unable to parse entry with id: 54106568
Unable to parse entry with id: 600b5659dd072a00042b8ebd
Unable to parse entry with id: 54106591
Unable to parse entry with id: 3838005
Unable to parse entry with id: 54122106
Unable to parse entry with id: 54122195
Unable to parse entry with id: 3441168
Unable to parse entry with id: 54125412
Unable to parse entry with id: 3408679
Unable to parse entry with id: 3541796
Unable to parse entry with id: 3528906
Unable to parse entry with id: 3544797
Unable to parse entry with id: 3794222
Unable to parse entry with id: 3680275
Unable to parse entry with id: 3736684
Unable to parse entry with id: 54080315
Unable to parse entry with id: 54139097
Unable to parse entry with id: 54141144
Unable to parse entry with id: 54143425
Unable to parse entry with id: 54144926
Unable to parse entry with id: 54153121
Unable to parse entry with id: 54157825
Unable to parse entry with id: 54158071
Unable to parse entry with id: 54158075
Unable to parse entry with id: 54165396
Unable to parse entry with id: 54165797
Unable to parse entry with id: 54166393
Unable to parse entry with id: 3376041
Unable to parse entry with id: 3752122
Unable to parse entry with id: 54172536
Unable to parse entry with id: 54177601
Unable to parse entry with id: 54179901
Unable to parse entry with id: 54179903
Unable to parse entry with id: 54179905
Unable to parse entry with id: 54179913
Unable to parse entry with id: 54179921
Unable to parse entry with id: 54179922
Unable to parse entry with id: 54179923
Unable to parse entry with id: 54179931
Unable to parse entry with id: 54179959
Unable to parse entry with id: 54180017
Unable to parse entry with id: 54180023
Unable to parse entry with id: 54180056
Unable to parse entry with id: 54180062
Unable to parse entry with id: 54180071
Unable to parse entry with id: 54180075
Unable to parse entry with id: 54180095
Unable to parse entry with id: 54180124
Unable to parse entry with id: 54180130
Unable to parse entry with id: 54180148
Unable to parse entry with id: 54180139
Unable to parse entry with id: 54180181
Unable to parse entry with id: 54180183
Unable to parse entry with id: 54180223
Unable to parse entry with id: 3442443
Unable to parse entry with id: 54180258
Unable to parse entry with id: 54180260
Unable to parse entry with id: 54180276
Unable to parse entry with id: 54180290
Unable to parse entry with id: 54180331
Unable to parse entry with id: 54180300
Unable to parse entry with id: 54180323
Unable to parse entry with id: 54180312
Unable to parse entry with id: 54180350
Unable to parse entry with id: 54180352
Unable to parse entry with id: 54180377
Unable to parse entry with id: 54180369
Unable to parse entry with id: 54180382
Unable to parse entry with id: 54180393
Unable to parse entry with id: 54180384
Unable to parse entry with id: 54180390
Unable to parse entry with id: 54180391
Unable to parse entry with id: 54180385
Unable to parse entry with id: 54180388
Unable to parse entry with id: 54180386
Unable to parse entry with id: 54180383
Unable to parse entry with id: 54180392
Unable to parse entry with id: 54180387
Unable to parse entry with id: 3508051
Unable to parse entry with id: 54180396
Unable to parse entry with id: 54180410
Unable to parse entry with id: 54180401
Unable to parse entry with id: 54180397
Unable to parse entry with id: 54180409
Unable to parse entry with id: 54180404
Unable to parse entry with id: 54180414
Unable to parse entry with id: 54180399
Unable to parse entry with id: 54180395
Unable to parse entry with id: 54180412
Unable to parse entry with id: 54180400
Unable to parse entry with id: 54180407
Unable to parse entry with id: 54180426
Unable to parse entry with id: 54180420
Unable to parse entry with id: 54180431
Unable to parse entry with id: 54180439
Unable to parse entry with id: 54180427
Unable to parse entry with id: 54180430
Unable to parse entry with id: 54180428
Unable to parse entry with id: 54180433
Unable to parse entry with id: 3514283
Unable to parse entry with id: 54180442
Unable to parse entry with id: 54180444
Unable to parse entry with id: 54180452
Unable to parse entry with id: 54180447
Unable to parse entry with id: 54180449
Unable to parse entry with id: 54180453
Unable to parse entry with id: 54180451
Unable to parse entry with id: 54180448
Unable to parse entry with id: 54180454
Unable to parse entry with id: 54180450
Unable to parse entry with id: 54180455
Unable to parse entry with id: 3517735
Unable to parse entry with id: 54180460
Unable to parse entry with id: 54180457
Unable to parse entry with id: 54180466
Unable to parse entry with id: 54180468
Unable to parse entry with id: 54180470
Unable to parse entry with id: 54180462
Unable to parse entry with id: 54180456
Unable to parse entry with id: 54180469
Unable to parse entry with id: 54180458
Unable to parse entry with id: 54180463
Unable to parse entry with id: 54180464
Unable to parse entry with id: 54180459
Unable to parse entry with id: 54180481
Unable to parse entry with id: 54180486
Unable to parse entry with id: 54180487
Unable to parse entry with id: 54180492
Unable to parse entry with id: 54180493
Unable to parse entry with id: 54180495
Unable to parse entry with id: 54180478
Unable to parse entry with id: 54180483
Unable to parse entry with id: 54180485
Unable to parse entry with id: 54180476
Unable to parse entry with id: 54180479
Unable to parse entry with id: 54180494
Unable to parse entry with id: 54180488
Unable to parse entry with id: 54180475
Unable to parse entry with id: 54180477
Unable to parse entry with id: 54180489
Unable to parse entry with id: 54180508
Unable to parse entry with id: 54180497
Unable to parse entry with id: 54180503

Unable to parse entry with id: 54180507
Unable to parse entry with id: 54180496
Unable to parse entry with id: 54180499
Unable to parse entry with id: 54180506
Unable to parse entry with id: 54180501
Unable to parse entry with id: 54180502
Unable to parse entry with id: 54180521
Unable to parse entry with id: 54180515
Unable to parse entry with id: 3528968
Unable to parse entry with id: 54180518
Unable to parse entry with id: 54180516
Unable to parse entry with id: 54180510
Unable to parse entry with id: 54180514
Unable to parse entry with id: 54180519
Unable to parse entry with id: 54180520
Unable to parse entry with id: 54180522
Unable to parse entry with id: 54180523
Unable to parse entry with id: 54180509
Unable to parse entry with id: 54180524
Unable to parse entry with id: 54180511
Unable to parse entry with id: 54180513
Unable to parse entry with id: 54180536
Unable to parse entry with id: 54180534
Unable to parse entry with id: 54180526
Unable to parse entry with id: 3536237
Unable to parse entry with id: 54180539
Unable to parse entry with id: 54180535
Unable to parse entry with id: 54180548
Unable to parse entry with id: 54180528
Unable to parse entry with id: 54180533
Unable to parse entry with id: 54180549
Unable to parse entry with id: 54180537
Unable to parse entry with id: 54180545
Unable to parse entry with id: 54180543
Unable to parse entry with id: 54180532
Unable to parse entry with id: 54180541
Unable to parse entry with id: 54180530
Unable to parse entry with id: 54180547
Unable to parse entry with id: 54180529
Unable to parse entry with id: 54180531
Unable to parse entry with id: 54180546
Unable to parse entry with id: 54180560
Unable to parse entry with id: 54180571
Unable to parse entry with id: 54180553
Unable to parse entry with id: 54180561
Unable to parse entry with id: 54180556
Unable to parse entry with id: 54180554
Unable to parse entry with id: 54180558
Unable to parse entry with id: 54180565
Unable to parse entry with id: 54180570
Unable to parse entry with id: 54180559
Unable to parse entry with id: 54180551
Unable to parse entry with id: 54180555
Unable to parse entry with id: 54180572
Unable to parse entry with id: 54180563
Unable to parse entry with id: 54180550
Unable to parse entry with id: 54180567
Unable to parse entry with id: 54180568
Unable to parse entry with id: 54180552
Unable to parse entry with id: 54180566
Unable to parse entry with id: 54180573
Unable to parse entry with id: 54180564
Unable to parse entry with id: 54180593
Unable to parse entry with id: 3595180
Unable to parse entry with id: 54180607
Unable to parse entry with id: 3539504
Unable to parse entry with id: 54180592
Unable to parse entry with id: 54180604
Unable to parse entry with id: 54180587
Unable to parse entry with id: 54180594
Unable to parse entry with id: 54180605
Unable to parse entry with id: 54180595
Unable to parse entry with id: 54180583
Unable to parse entry with id: 54180591
Unable to parse entry with id: 54180577
Unable to parse entry with id: 54180596
Unable to parse entry with id: 54180579
Unable to parse entry with id: 54180578
Unable to parse entry with id: 54180608
Unable to parse entry with id: 54180586
Unable to parse entry with id: 54180574
Unable to parse entry with id: 54180584
Unable to parse entry with id: 54180600
Unable to parse entry with id: 54180588
Unable to parse entry with id: 54180603
Unable to parse entry with id: 54180597
Unable to parse entry with id: 54180609
Unable to parse entry with id: 54180581
Unable to parse entry with id: 54180599
Unable to parse entry with id: 54180606
Unable to parse entry with id: 54180576
Unable to parse entry with id: 54180585
Unable to parse entry with id: 54180612
Unable to parse entry with id: 54180614
Unable to parse entry with id: 54180610
Unable to parse entry with id: 54180630
Unable to parse entry with id: 54180654
Unable to parse entry with id: 54180680
Unable to parse entry with id: 54180682
Unable to parse entry with id: 54180679
Unable to parse entry with id: 54180687
Unable to parse entry with id: 54180698
Unable to parse entry with id: 54180742
Unable to parse entry with id: 54180749
Unable to parse entry with id: 54180751
Unable to parse entry with id: 54180821
Unable to parse entry with id: 54180878
Unable to parse entry with id: 54180907
Unable to parse entry with id: 54180982
Unable to parse entry with id: 54180999
Unable to parse entry with id: 54181031
Unable to parse entry with id: 54181029
Unable to parse entry with id: 54181040
Unable to parse entry with id: 54181067
Unable to parse entry with id: 54181090
Unable to parse entry with id: 54181094
Unable to parse entry with id: 54181141
Unable to parse entry with id: 54181154
Unable to parse entry with id: 54181176
Unable to parse entry with id: 54181248
Unable to parse entry with id: 54181348
Unable to parse entry with id: 54181356
Unable to parse entry with id: 54181353
Unable to parse entry with id: 54181405
Unable to parse entry with id: 54181452
Unable to parse entry with id: 54181387
Unable to parse entry with id: 54181382
Unable to parse entry with id: 54181364
Unable to parse entry with id: 54181493
Unable to parse entry with id: 54181360
Unable to parse entry with id: 54181367
Unable to parse entry with id: 54181373
Unable to parse entry with id: 54181380
Unable to parse entry with id: 54181412
Unable to parse entry with id: 54181386
Unable to parse entry with id: 54181508
Unable to parse entry with id: 54181509
Unable to parse entry with id: 54181510
Unable to parse entry with id: 54181511
Unable to parse entry with id: 54181513
Unable to parse entry with id: 54181537
Unable to parse entry with id: 54181565
Unable to parse entry with id: 54181633
Unable to parse entry with id: 54181634
Unable to parse entry with id: 54181742
Unable to parse entry with id: 54181723
Unable to parse entry with id: 54181745
Unable to parse entry with id: 54181755
Unable to parse entry with id: 54181771
Unable to parse entry with id: 54181773
Unable to parse entry with id: 54181775
Unable to parse entry with id: 54181897
Unable to parse entry with id: 54181898
Unable to parse entry with id: 54181805
Unable to parse entry with id: 54181841
Unable to parse entry with id: 54181815
Unable to parse entry with id: 54182061
Unable to parse entry with id: 54181940
Unable to parse entry with id: 54182003
Unable to parse entry with id: 54181996
Unable to parse entry with id: 54182133
Unable to parse entry with id: 54182007
Unable to parse entry with id: 54182073
Unable to parse entry with id: 54182036
Unable to parse entry with id: 54182000
Unable to parse entry with id: 54182153
Unable to parse entry with id: 54182179
Unable to parse entry with id: 54182197
Unable to parse entry with id: 54182218
Unable to parse entry with id: 54182338
Unable to parse entry with id: 54182363
Unable to parse entry with id: 54182373
Unable to parse entry with id: 54182384
Unable to parse entry with id: 54182412
Unable to parse entry with id: 54182441
Unable to parse entry with id: 54182443
Unable to parse entry with id: 54182447
Unable to parse entry with id: 54182459
Unable to parse entry with id: 54182456
Unable to parse entry with id: 54182460
Unable to parse entry with id: 54182461
Unable to parse entry with id: 54182487
Unable to parse entry with id: 54182466
Unable to parse entry with id: 54182470
Unable to parse entry with id: 54182567
Unable to parse entry with id: 54182631
Unable to parse entry with id: 54182643
Unable to parse entry with id: 54182859
Unable to parse entry with id: 54182693
Unable to parse entry with id: 54182906
Unable to parse entry with id: 54182867
Unable to parse entry with id: 54183096
Unable to parse entry with id: 54183114
Unable to parse entry with id: 54183150
Unable to parse entry with id: 54183332
Unable to parse entry with id: 54183336
Unable to parse entry with id: 54183321
Unable to parse entry with id: 54183356
Unable to parse entry with id: 54183407
Unable to parse entry with id: 54183424
Unable to parse entry with id: 54183446
Unable to parse entry with id: 54183452
Unable to parse entry with id: 54183454
Unable to parse entry with id: 54183467
Unable to parse entry with id: 54183513
Unable to parse entry with id: 54183572

Unable to parse entry with id: 54185129
Unable to parse entry with id: 54191778
Unable to parse entry with id: 54191839
Unable to parse entry with id: 54192169
Unable to parse entry with id: 54192209
Unable to parse entry with id: 54193331
Unable to parse entry with id: 54195889
Unable to parse entry with id: 54196826
Unable to parse entry with id: 54200396
Unable to parse entry with id: 54209480
Unable to parse entry with id: 54214727
Unable to parse entry with id: 54216191
Unable to parse entry with id: 54217982
Unable to parse entry with id: 54219281
Unable to parse entry with id: 54219284
Unable to parse entry with id: 54225506
Unable to parse entry with id: 54226407
Unable to parse entry with id: 54230506
Unable to parse entry with id: 54236584
Unable to parse entry with id: 54236944
Unable to parse entry with id: 54240416
Unable to parse entry with id: 3593249
Unable to parse entry with id: 54240398
Unable to parse entry with id: 54247054
Unable to parse entry with id: 54249328
Unable to parse entry with id: 54251530
Unable to parse entry with id: 54256789
Unable to parse entry with id: 54259316
Unable to parse entry with id: 54028221
Unable to parse entry with id: 6249e7b02985850004ae8a02
Unable to parse entry with id: 6249e7c9971604000477073d
Unable to parse entry with id: 54269661
Unable to parse entry with id: 54271398
Unable to parse entry with id: 627e9c9fab3ece0004d145be
Unable to parse entry with id: 54275939
Unable to parse entry with id: 54280680
Unable to parse entry with id: 54289649
Unable to parse entry with id: 54293320
Unable to parse entry with id: 54296743
Unable to parse entry with id: 54316346
Unable to parse entry with id: 54327890
Unable to parse entry with id: 54328066
Unable to parse entry with id: 54339171
Unable to parse entry with id: 54339179
Unable to parse entry with id: 54339758
Unable to parse entry with id: 54340469
Unable to parse entry with id: 54351253
Unable to parse entry with id: 54352554
Unable to parse entry with id: 54352561
Unable to parse entry with id: 54354975
Unable to parse entry with id: 54357096
Unable to parse entry with id: 54360082
Unable to parse entry with id: 54374212
Unable to parse entry with id: 54384221
Unable to parse entry with id: 54384753
Unable to parse entry with id: 54401954
Unable to parse entry with id: 54410340
Unable to parse entry with id: 54409089
Unable to parse entry with id: 54415079
Unable to parse entry with id: 54415078
Unable to parse entry with id: 54415305
Unable to parse entry with id: 54415861
Unable to parse entry with id: 54415866
Unable to parse entry with id: 54416581
Unable to parse entry with id: 54418175
Unable to parse entry with id: 54418665
Unable to parse entry with id: 54419346
Unable to parse entry with id: 54419696
Unable to parse entry with id: 54420785

In [3]:
df

,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,2000433,433 Eros (A898 PA),False,29274494.7651919558,Earth,12478.8132604691,1900-12-27,30.436237
1,2000719,719 Albert (A911 TB),False,158840482.6425908148,Juptr,7708.4220204903,1909-08-21,2.814433
2,2000887,887 Alinda (A918 AA),False,29796347.8978383466,Earth,15221.6378903555,1910-01-04,6.185730
3,2001036,1036 Ganymed (A924 UB),False,181845412.667573937,Juptr,14101.1187202357,1910-02-25,51.926728
4,2001221,1221 Amor (1932 EA1),False,26496951.9500046498,Earth,29682.2744667229,1900-03-08,1.234215
...,...,...,...,...,...,...,...,...
34143,54422162,(2024 BS2),False,42678457.270847629,Earth,35274.2074106556,2023-12-21,0.345455
34144,54422163,(2024 BT2),False,3819480.6055665182,Mars,18908.5583687366,1982-08-26,0.108241
34145,54422164,(2024 BU2),False,13929123.8610729592,Earth,25868.2986828493,1927-03-10,0.081657
34146,54422165,(2024 BV2),False,17933143.5675727262,Earth,23676.4945627729,1951-02-09,0.010859
34147,54422166,(2024 BW2),False,12556922.6346143184,Earth,17783.316762323,2024-03-17,0.086535

In [15]:
df.to_csv('Data.csv')

In [16]:
data = pd.read_csv('Data.csv')

In [17]:
data.head()

,Unnamed: 0,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.813260,1900-12-27,30.436237
1,1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.422020,1909-08-21,2.814433
2,2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.637890,1910-01-04,6.185730
3,3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.118720,1910-02-25,51.926728
4,4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.274467,1900-03-08,1.234215

In [7]:
# data.drop(columns=data.columns[0], axis=1, inplace=True)

In [8]:
# data.head()

,id,name,hazardous,distance,orbiting body,velocity,date,diameter
0,2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.813260,1900-12-27,30.436237
1,2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.422020,1909-08-21,2.814433
2,2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.637890,1910-01-04,6.185730
3,2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.118720,1910-02-25,51.926728
4,2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.274467,1900-03-08,1.234215

In [9]:
# data.set_index("id", inplace=True)

In [10]:
# data.head()

,name,hazardous,distance,orbiting body,velocity,date,diameter
id,,,,,,,
2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.813260,1900-12-27,30.436237
2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.422020,1909-08-21,2.814433
2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.637890,1910-01-04,6.185730
2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.118720,1910-02-25,51.926728
2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.274467,1900-03-08,1.234215

In [11]:
# data.velocity = round(data.velocity,2)
# data.diameter = round(data.diameter,2)
# data.head()
# # type(data.distance)
# data.dtypes

,name,hazardous,distance,orbiting body,velocity,date,diameter
id,,,,,,,
2000433,433 Eros (A898 PA),False,2.927449e+07,Earth,12478.81,1900-12-27,30.44
2000719,719 Albert (A911 TB),False,1.588405e+08,Juptr,7708.42,1909-08-21,2.81
2000887,887 Alinda (A918 AA),False,2.979635e+07,Earth,15221.64,1910-01-04,6.19
2001036,1036 Ganymed (A924 UB),False,1.818454e+08,Juptr,14101.12,1910-02-25,51.93
2001221,1221 Amor (1932 EA1),False,2.649695e+07,Earth,29682.27,1900-03-08,1.23

In [12]:
# def scientific_to_rounded(number_str):
#     # Convert the scientific notation string to a float
#     number = float(number_str)
#     # Round up the number
#     rounded_number = round(number)

In [13]:
# dist = data.distance.tolist()
# round_dist = []
# for i in dist:
#     round_dist.append(scientific_to_rounded(i))
# data["round_distance"] = round_dist

In [14]:
# data.head()